.profile-img{
    width: 18rem;
    height: 8rem;
    position: relative;
}

.profile-img-round{
    width: 80px;
    height: 80px; 
    position: absolute;
    top: 80px;
    left: 0;
}

.page-img{
    width: 50px;
    height: 55px;
}

.profile-postcard-img{
    width: 60px;
    height: 50px;
}

.postcard-img{
    width:70px;
    height:70px;
}

.posted-img{
    width: 95%;
    height: 200px;
}

.not-page-img{
    width: 50px;
    height: 55px;
}

.add-page-img{
    width: 95%;
    height: 150px;
}

.profileMain-img{
    height: 350px;
    position: relative;
}

.profileMain-img-round{
    width: 230px;
    height: 250px;
    
    position: absolute;
    top: 230px;
    left: 70px;
}

.profileMainImgRow{
    margin-bottom: 5rem;
}

.cbody{
    margin-left: 330px;
}

.memories-img-round{
    width: 90%;
    height: 70%;
}